@model IEnumerable<WebPizzaApp.Data.Rendeles>

@{
    ViewData["Title"] = "Index";
}

<p>
        <a asp-action="CreateS1">Rendelés felvitele</a>
</p>
<h1>Aktív rendelések</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Rendelés szám
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Allapot.Megnevezes)
            </th>
            <th>
                Futár
            </th>
            <th>
                Megrendelő
            </th>
            <th>
                Cím
            </th>
            <th>
                Pizzák
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RendelesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allapot.Megnevezes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Futar.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cim.Megrendelo.Nev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cim.Irsz) @Html.DisplayFor(modelItem => item.Cim.Utca) @Html.DisplayFor(modelItem => item.Cim.Hazszam)
                </td>
                <td>
                    <table>
                        <tbody>
                            @foreach (var litem in item.PizzaRendelesek)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => litem.Pizza.Nev)
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                </td>
                <td>
                    <a asp-action="Index" asp-route-id="@item.CimId">Státusz váltás</a>
                </td>
            </tr>
        }
    </tbody>
</table>
