@model WebPizzaApp.Data.Cim

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Irsz)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Irsz)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Varos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Varos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hazszam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hazszam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Csengo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Csengo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Megrendelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Megrendelo.Nev)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CimId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
